#container{
	width: 992px;
	margin: 02px auto;
}

#left-column{
width: 33%;
float:left;
background: blue;
}

#middle-column{
width: 33%;
float:left;
background: red;
}

#right-column{
width: 33%;
float:left;
background: yellow;
}

@media (min-width: 992px) {
	#container{
	width: 100%;
}

	#left-column{
	width: 33%;
}

	#middle-column{
	width: 33%;
}
	
	#right-column{
	width: 34%;
}
}

@media (min-width: 768px) and (max-width: 991px) {
	#container{
	width: 100%;

}

	#left-column{
	width: 50%;
}

	#middle-column{
	width: 50%;
}
	
	#right-column{
width: 100%;
}
}

@media (max-width: 767px) {
	#container{
	width: 100%;

}

	#left-column{
	width: 100%;
}

	#middle-column{
	width: 100%;
}
	
	#right-column{
	width: 100%;
}
}
Style.txt
Open with
2 of 2 items
Index.txtStyle.txtDisplaying Index.txt.
div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}

div1 {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}
